* {

    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {

    padding: 30px 30px;
}


.artigo {

    width: 300px;

    border: 1px solid black;



}

.artigo img {

    width: 100%;

}

.artigo p {
    padding: 20px 30px;
    text-align: justify;
}

#textos {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}